<div class="d-flex flex-row justify-content-center">
    <button type="button" class="btn btn-danger" id="startButton" onclick="countdownPuzzle()">
        Start the Countdown
    </button>

</div>
<div class="centerhorizontal">
    <div id="timer">
        <div id="timer-display"></div>
    </div>
</div>


<script>
function timeString(timer) {
    let minutes = Math.floor(timer / 60);
    let seconds = timer % 60;

    let minStr = String(minutes).padStart(2, "0");
    let secStr = String(seconds).padStart(2, "0");
    return minStr + ":" + secStr;
}
function countdownPuzzle() {
    const duration = 30;
    var timer = duration, minutes, seconds;
    var display = document.getElementById('timer-display');
    var startButton = document.getElementById('startButton');
    
    startButton.disabled = true; // Disable the button to prevent multiple intervals
    
    display.textContent = timeString(duration);
    var interval = setInterval(function () {
        if (timer <= duration * .25) {
            display.classList.add("baer-timer-final");
        }
      
        if (--timer < 0) {
            clearInterval(interval); // Clear the interval
            timer = 0; // Ensure timer is set to 0
            window.location.href = "{{ site.baseurl | prepend: site.url | append: 'fail.html' }}";
            return;
        }

        display.textContent = timeString(timer);
    }, 1000);
}
</script>
