<div class="centerhorizontal">
<h2>You failed and died miserably. But you realized it was all just a dream, and decide to try again.</h2>
</div>
<div class="d-flex flex-row justify-content-center">

    <button type="button" class="btn btn-danger" onclick="location.href = '{{ site.baseurl | prepend: site.url | append: 'projects/6_kudamm/' }}'">
       Try Again!
    </button>
</div>

 