<div class="centerhorizontal">
<h2>Warning! This guide will spoil the answers. Only click if you are stuck!</h2>
</div>

<div class="d-flex flex-row justify-content-center">

    <button type="button" class="btn btn-danger" onclick="location.href = 'https://docs.google.com/document/d/1fIcOA0fcJTmz9vDXrgK1SNZoTZfCcJ0IzZU36f2gPE8/edit?usp=sharing'">
        Click here to go to the guide.
    </button>
</div>

 