<div class="centerhorizontal baer-dialogue-group">
<h2>You successfully disarmed the bomb and saved Ku'damm!</h2>

<img src="{{ site.baseurl | prepend: site.url | append: 'assets/img/ends/win.gif' }}" alt="you win gg">


</div>

 